<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pres.swegnhan.packhelper.dao.DBTestDao">

    <insert id="addTest" parameterType="pres.swegnhan.packhelper.pojo.DBTest">
        insert into tb_test(name) values (#{name})
    </insert>

    <update id="updateTest" parameterType="pres.swegnhan.packhelper.pojo.DBTest">
        update tb_test set name = #{name} where id = #{id}
    </update>

    <delete id="deleteTest" parameterType="long">
        delete from tb_test where id = #{id}
    </delete>

    <select id="findById" parameterType="long" resultType="pres.swegnhan.packhelper.pojo.DBTest">
        select id, name from tb_test where id = #{id}
    </select>

    <select id="findByName" parameterType="string" resultType="pres.swegnhan.packhelper.pojo.DBTest">
        select id, name from tb_test where name = #{name}
    </select>

</mapper>