<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pres.swegnhan.packhelper.infrastructure.mybatis.mapper.PackageMapper">

    <insert id="insert">
        insert into tb_package(uid, name, version, category, url, filetype)
        values (
            #{pack.uid},
            #{pack.name},
            #{pack.version},
            #{pack.category},
            #{pack.url},
            #{pack.filetype})
    </insert>

    <insert id="insertSupportSystem">
        insert into tb_support_system(uid, name, version)
        values (
        #{sups.uid},
        #{sups.name},
        #{sups.version})
    </insert>

    <insert id="insertPackSupsRelation">
        insert into rel_pack_sups(pack_uid, sups_uid)
        values (
        #{packId},
        #{supsId})
    </insert>

    <update id="update">
        update tb_package
        <set>
            <if test="pack.name != ''">name = #{pack.name},</if>
            <if test="pack.version != ''">version = #{pack.version},</if>
            <if test="pack.category != 0">category = #{pack.category},</if>
            <if test="pack.url != ''">url = #{pack.url},</if>
            <if test="pack.filetype != ''">filetype = #{pack.filetype}</if>
        </set>
        where uid = #{pack.uid}
    </update>

    <delete id="delete">
        delete from tb_package where uid = #{uid}
    </delete>

    <sql id="selectPackage">
        select
            P.uid packUid,
            P.name packName,
            P.version packVersion,
            P.category packCategory,
            P.url packUrl,
            P.filetype packFiletype,
            S.uid supsUid,
            S.name supsName,
            S.version supsVersion
        from tb_package P
        left join rel_pack_sups PS on P.uid = PS.pack_uid
        left join tb_support_system S on S.uid = PS.sups_uid
    </sql>

    <select id="findByUid" resultMap="packages">
        <include refid="selectPackage"/>
        where P.uid = #{uid}
    </select>

    <select id="findByNameVersion" resultMap="packages">
        <include refid="selectPackage"/>
        where P.name = #{name} and P.version = #{version}
    </select>

    <select id="findSupportSystem" resultType="java.lang.Boolean">
        select count(*) from tb_support_system S
        where S.name = #{sups.name} and S.version = #{sups.version}
    </select>

    <resultMap id="packages" type="pres.swegnhan.packhelper.core.packpackage.Package">
        <id column="packUid" property="uid"/>
        <result column="packName" property="name"/>
        <result column="packVersion" property="version"/>
        <result column="packCategory" property="category"/>
        <result column="packUrl" property="url"/>
        <result column="packFiletype" property="filetype"/>
        <collection property="supsList" ofType="arraylist" resultMap="supportsystems"/>
    </resultMap>

    <resultMap id="supportsystems" type="pres.swegnhan.packhelper.core.packpackage.SupportSystem">
        <id column="supsUid" property="uid" />
        <result column="supsName" property="name"/>
        <result column="supsVersion" property="version"/>
    </resultMap>

</mapper>