<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pres.swegnhan.packhelper.infrastructure.commandrepository.PackageUploadDownloadRepository">

    <insert id="insert">
        insert into rel_user_package(pack_uid,user_mac,create_at)
        values (
        #{pushUserPackage.packUid},
        #{pushUserPackage.userMac},
        now(),
    </insert>

    <delete id="delete">
        delete from rel_user_package
        where pack_uid = #{pushUserPackage.packUid} and user_mac = #{pushUserPackage.userMac}
    </delete>

</mapper>